[user]
	name = Michael Chunko
	email = chunkomike@gmail.com
[core]
	editor = micro
	autocrlf = input
[push]
	default = simple
[lfs]
	locksverify = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	diff = always
	ui = always
[alias]
	st = status -sb
